/.gitattributes         export-ignore
/.github                export-ignore
/.gitignore             export-ignore
/.php-cs-fixer.php      export-ignore
/phpunit.xml.dist       export-ignore
/tests                  export-ignore
/TODO.md                export-ignore
/tools                  export-ignore
