parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method getCurrentDepth\(\) on JoliTypo\\StateBag\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/JoliTypo/Fixer.php

		-
			message: '#^Cannot call method setCurrentDepth\(\) on JoliTypo\\StateBag\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/JoliTypo/Fixer.php

		-
			message: '#^Cannot call method setCurrentNode\(\) on JoliTypo\\StateBag\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/JoliTypo/Fixer.php

		-
			message: '#^Method JoliTypo\\Fixer\:\:getStateBug\(\) should return JoliTypo\\StateBag but returns JoliTypo\\StateBag\|null\.$#'
			identifier: return.type
			count: 1
			path: src/JoliTypo/Fixer.php

		-
			message: '#^Method JoliTypo\\Fixer\\BaseOpenClosePair\:\:fixViaState\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/JoliTypo/Fixer/BaseOpenClosePair.php

		-
			message: '#^Parameter \#2 \$new_content of method JoliTypo\\StateBag\:\:fixSiblingNode\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/JoliTypo/Fixer/BaseOpenClosePair.php

		-
			message: '#^Method JoliTypo\\Fixer\\CurlyQuote\:\:fix\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/JoliTypo/Fixer/CurlyQuote.php

		-
			message: '#^Method JoliTypo\\Fixer\\Dimension\:\:fix\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/JoliTypo/Fixer/Dimension.php

		-
			message: '#^Method JoliTypo\\Fixer\\Ellipsis\:\:fix\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/JoliTypo/Fixer/Ellipsis.php

		-
			message: '#^Constructor of class JoliTypo\\Fixer\\EnglishQuotes has an unused parameter \$locale\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: src/JoliTypo/Fixer/EnglishQuotes.php

		-
			message: '#^Constructor of class JoliTypo\\Fixer\\FrenchQuotes has an unused parameter \$locale\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: src/JoliTypo/Fixer/FrenchQuotes.php

		-
			message: '#^Constructor of class JoliTypo\\Fixer\\GermanQuotes has an unused parameter \$locale\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: src/JoliTypo/Fixer/GermanQuotes.php

		-
			message: '#^Method JoliTypo\\Fixer\\Hyphen\:\:fix\(\) should return string but returns array\<mixed\>\|string\.$#'
			identifier: return.type
			count: 1
			path: src/JoliTypo/Fixer/Hyphen.php

		-
			message: '#^Method JoliTypo\\Fixer\\NoSpaceBeforeComma\:\:fix\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/JoliTypo/Fixer/NoSpaceBeforeComma.php

		-
			message: '#^Method JoliTypo\\Fixer\\SpaceBeforePunctuation\:\:applyFrenchRules\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/JoliTypo/Fixer/SpaceBeforePunctuation.php

		-
			message: '#^Method JoliTypo\\Fixer\\SpaceBeforePunctuation\:\:removeSpacesBeforePunctuation\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/JoliTypo/Fixer/SpaceBeforePunctuation.php

		-
			message: '#^Parameter \#1 \$content of method JoliTypo\\Fixer\\SpaceBeforePunctuation\:\:removeSpacesBeforePunctuation\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/JoliTypo/Fixer/SpaceBeforePunctuation.php

		-
			message: '#^Parameter \#3 \$subject of function preg_replace expects array\<float\|int\|string\>\|string, string\|null given\.$#'
			identifier: argument.type
			count: 5
			path: src/JoliTypo/Fixer/SpaceBeforePunctuation.php

		-
			message: '#^Method JoliTypo\\Fixer\\Trademark\:\:fix\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/JoliTypo/Fixer/Trademark.php

		-
			message: '#^Parameter \#3 \$subject of function preg_replace expects array\<float\|int\|string\>\|string, string\|null given\.$#'
			identifier: argument.type
			count: 3
			path: src/JoliTypo/Fixer/Trademark.php

		-
			message: '#^Method JoliTypo\\Fixer\\Unit\:\:fix\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/JoliTypo/Fixer/Unit.php

		-
			message: '#^Method JoliTypo\\LocaleAwareFixerInterface\:\:setLocale\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/JoliTypo/LocaleAwareFixerInterface.php
