<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <php>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
  </php>
  <testsuites>
    <testsuite name="JoliTypo Test Suite">
      <directory>tests/JoliTypo/</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory suffix=".php">src/JoliTypo/</directory>
    </include>
  </coverage>
</phpunit>
